.App {
  /* text-align: center; */
  /* background-color: #c2c2c2; */
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url('../public/pexels-roberto-nickson-3131971.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
h1{
  margin: 0;

}
.headername{
  text-align: center;
  color: rgb(233, 198, 198);
  margin-bottom: 50px;
}
.lilist {
  display: inline-flex;
  color: white;
  display: left;
  justify-content: space-around;
  align-items: center;
  margin: 20px 50px;
  /* border: 4px solid hotpink; */
}
.lilist :hover{
  cursor: pointer;
  color: goldenrod;
  border-bottom: 1px solid wheat;
}
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
  padding: 15px;
  margin-bottom: 58px;
}

.movie {
  border: 1px solid khaki;
  margin: 5px;
  height: 250px;
  width : 250px;
  position: relative;
  overflow: hidden;
}
.imgbox{
  width: 100%;
  height: 100%;
}
.content{
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.movie:hover .content{
  right: 0;
  cursor: pointer;
}
.opinion{
  background-image: url('../public/pexels-kyle-loftus-2510428.jpg');
}